<h1>MedCar</h1>
<img src="/images/cross.jpg" alt="Cross" height="100" width="100" style="position:absolute;top:10px;left:180px;
	z-index:-1;">

<div id="main_menu">
	<button id="mainlink">Ogłoszenia</button>
	<% if (user.type == 'user') { %>
		<button id="patientpanel">Panel pacjenta</button>
		<button id="profile">Dane osobowe</button>
	<% } %>
	<% if (user.type == 'admin') { %>
		<button id="adminpanel">Panel administratora</button>
	<% } %>
	<% if (user.type == 'doc') { %>
		<button id="docpanel">Panel doktora</button>
		<button id="profile">Dane osobowe</button>
	<% } %>
</div>

<div id="logout">
	<p> Zalogowany jako: <%= user.login %> </p>
	<a href="logout">Wyloguj</a>
</div>