<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script type="text/javascript" src="javascripts/adminpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">
		<div id="adminpanelmenu">
			<button id="docadd">Dodaj lekarza</button>
			<button id="useradd">Dodaj pacjenta</button>
			<button id="newsadd">Dodaj ogłoszenie</button>
			<button id="docshow">Wyświetl lekarzy</button>
			<button id="usershow">Wyświetl pacjentów</button>
			<button id="newsshow">Wyświetl ogłoszenia</button>
		</div>

		<div id="doclist" style="margin-top: 30px;">
			<table id="doctable">
			</table>
		</div>

		<div id="userlist" style="margin-top: 30px;">
			<table id="usertable">
			</table>
		</div>

		<div id="newslist" style="margin-top: 30px;">
			<table id="newstable">
			</table>
		</div>

		<div id="docaddform">

			<form action="/api/docadd" method="post" id="admindocform">

				<h2> Formularz lekarza </h2>
				<div style="margin-bottom:20px;">
					<label>Login do panelu</label>
					<input type="text" name="login">
					<div id="loginerror" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label>Hasło do panelu</label>
					<input type="password" name="password">
					<div id="passworderror" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 91px;">Imię</label>
					<input type="text" name="name">
					<div id="nameerror" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 50px;">Nazwisko</label>
					<input type="text" name="lastname">
					<div id="lastnameerror" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label>Wybierz dni pracujące</label>
					<br>
					<input type="checkbox" name="pon" id="ponworking" value="1">Poniedziałek<br>
					<input type="checkbox" name="wt" id="wtworking" value="2">Wtorek<br>
					<input type="checkbox" name="sr" id="srworking" value="3">Środa<br>
					<input type="checkbox" name="czw" id="czwworking" value="4">Czwartek<br>
					<input type="checkbox" name="pi" id="piworking" value="5">Piątek<br>
					<input type="checkbox" name="so" id="soworking" value="6">Sobota<br>
					<input type="checkbox" name="ni" id="niworking" value="7">Niedziela<br>
				</div>

				<div style="margin-bottom:20px;">
					<div id="1hours">
						<p>Poniedziałek</p>
						<input type="number" name="ponbegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="ponend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="2hours">
						<p>Wtorek</p>
						<input type="number" name="wtbegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="wtend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="3hours">
						<p>Środa</p>
						<input type="number" name="srbegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="srend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="4hours">
						<p>Czwartek</p>
						<input type="number" name="czwbegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="czwend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="5hours">
						<p>Piątek</p>
						<input type="number" name="pibegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="piend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="6hours">
						<p>Sobota</p>
						<input type="number" name="sobegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="soend" value="8" min="8" max="20">Koniec pracy<br>
					</div>
					<div id="7hours">
						<p>Niedziela</p>
						<input type="number" name="nibegin" value="8" min="8" max="20">Początek pracy<br>
						<input type="number" name="niend" value="8" min="8" max="20">Koniec pracy<br>
					</div>

				</div>

				<button id="docsumbitbutton" type="submit">Dodaj lekarza</button>

			</form>

		</div>

		<div id="useraddform">
			<h2> Formularz pacjenta </h2>
			<form action="/api/useradd" method="post" id="adminuserform">

				<div style="margin-bottom:20px;">
					<label>Login do panelu</label>
					<input type="text" name="login" value="">
					<div id="loginerror2" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label>Hasło do panelu</label>
					<input type="password" name="password" value="">
					<div id="passworderror2" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 90px;">Imię</label>
					<input type="text" name="nameuser" value="">
					<div id="nameerror2" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 38px;">Drugie imię</label>
					<input type="text" name="secondnameuser" value="-">
					<div id="secondnameerror2" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 50px;">Nazwisko</label>
					<input type="text" name="lastnameuser" value="">
					<div id="lastnameerror2" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 80px;">Pesel</label>
					<input type="text" name="pesel" value="">
					<div id="peselerror" data-status="good"></div>
				</div>
				<div id="visitdate" style="margin-top: 20px; margin-bottom:20px;">
					<label style="margin-right: 51px;">Data</label>
					<input type="hidden" id="date">
					<input type="text" id="currentdate" name="dateofbirth" value="" style="background-color:#CACACA;" readonly>
				</div>
				

				<button id="usersubmitbutton" type="submit">Dodaj pacjenta</button>

			</form>
		
		</div>

		<div id="newsaddform">
			<h2> Formularz ogłoszeń </h2>
			<form action="/api/newsadd" method="post" id="adminnewsform">

				<div style="margin-bottom:20px;">
					<label style="margin-right: 51px;">Numer ogłoszenia</label>
					​<input type="text" name="number" value="" style="background-color:#CACACA;" readonly>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 53px;">Tytuł</label>
					<input type="text" name="title" value="">
					<div id="titleerror" data-status="good"></div>
				</div>
				<div style="margin-bottom:20px;">
					<label style="margin-right: 51px;">Treść</label>
					​<textarea name="newscontent" rows="10" cols="80"></textarea>
				</div>
				
				<button id="newssubmitbutton" type="submit">Dodaj ogłoszenie</button>

			</form>
			<button id="newspreviewbutton">Podgląd</button>
		
		</div>
	
	</div>

	<div id="newspreview">
	</div>

	<% include partials/footer %>
</body>
</html>