<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script type="text/javascript" src="javascripts/adminpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">
		<div id="adminpanelmenu">
			<button id="docadd">Dodaj lekarza</button>
			<button id="useradd">Dodaj pacjenta</button>
			<button id="newsadd">Dodaj ogłoszenie</button>
			<button id="docshow">Wyświetl lekarzy</button>
			<button id="usershow">Wyświetl pacjentów</button>
			<button id="newsshow">Wyświetl ogłoszenia</button>
		</div>

		<div id="doclist" style="margin-top: 30px;">
			<table id="doctable">
			</table>
		</div>

		<div id="userlist" style="margin-top: 30px;">
			<table id="usertable">
			</table>
		</div>

		<div id="newslist" style="margin-top: 30px;">
			<table id="newstable">
			</table>
		</div>

		<div id="formcontener">

		</div>
	
	</div>

	<div id="newspreview">
		<button id="newspreviewhide" style="float:right;">X</button>
		<div id="previewtext"></div>
	</div>

	<% include partials/footer %>
</body>
</html>