<!doctype html>
<html>
<% include partials/header %>   
<body>

	<% include partials/menu %>   

	<div id="content">
		
		<% if (user.login) { %>
			<p>
				<strong>Login</strong>: <%= user.login %><br>
				<strong>specialty</strong>: <%= user.specialty %>
			</p>
		<% } %>
	</div>
	
	<% include partials/footer %>
	
</body>
</html>