<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script language="javascript" type="text/javascript" src="javascripts/docpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">
		
		<div id="myvisits">

		</div>

		<button id="visits" data-name="<%= user.name %>" data-lastname="<%= user.lastname %>">Wizyty</a>
	</div>
	
	<% include partials/footer %>
	
</body>
</html>