<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script language="javascript" type="text/javascript" src="javascripts/docpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">

		<div id="docpanelmenu">
			<button id="visits" data-name="<%= user.name %>" data-lastname="<%= user.lastname %>">Wizyty</button>
			<button id="visitshistory" data-name="<%= user.name %>" data-lastname="<%= user.lastname %>">Historia wizyt</button>
		</div>
		
		<div id="myvisits">
			<table id="docvisitstable" style="margin-top: 30px;">

			</table>
		</div>

		<div id="myvisitshistory">
			<table id="docvisitshistorytable" style="margin-top: 30px;">

			</table>
		</div>

		<div id="userinfocontener" style="margin-top: 30px;">
		</div>
	</div>
	
	<% include partials/footer %>
	
</body>
</html>