<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body data-ng-app='mainApp'>
<div>

	<div>
		<h1>Node Authentication</h1>

		<a href="login">Login</a>
		<a href="signup">Signup</a>
	</div>
</div>
</body>
</html>