<!doctype html>
<html>
	<head>
		<% include partials/header %>
		<script language="javascript" type="text/javascript" src="javascripts/index.js"></script>
	</head> 
<body>

	<% include partials/menu %>   

	<div id="content" style="font-weight:800">
	</div>

	<% include partials/footer %>   
</body>
</html>