<!doctype html>
<html>
	<head>
		<% include partials/header %>  
		<script language="javascript" type="text/javascript" src="javascripts/login.js"></script> 
	</head>
<body>

	<h1>MedCar</h1>
	<img src="/images/cross.jpg" alt="Cross" height="100" width="100" style="position:absolute;top:10px;left:180px;z-index:-1;">
	<div id="loginform">

		<h2>Logowanie </h2>

		<form action="/login" method="post" id="loginformaction">

			<div style="margin-bottom:20px;">
				<label>Kim jesteś?? </label>
				<br>
				<select name="accounttype" id="accountselect">
 					<option value="user">Pacjent</option>
					<option value="doc">Lekarz</option>
					<option value="admin">Administrator</option>
				</select>
			</div>
			<div style="margin-bottom:20px;">
				<label>Nazwa użytkownika</label>
				<input type="text" name="login">
				<div id="loginerror" data-status="good"></div>
			</div>
			<div style="margin-bottom:20px;">
				<label>Hasło</label>
				<br>
				<input type="password" name="password">
				<div id="passworderror" data-status="good"></div>
			</div>

			<button type="submit" enabled>Zaloguj się</button>
		</form>
	
		<% if (message.length > 0) { %>
			<div style="margin-top: 20px;"><%= message %></div>
		<% } %>
		
	</div>

</body>
</html>