<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script language="javascript" type="text/javascript" src="javascripts/patientpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">

		<div id="userpanlemenu">
			<button id="visits" data-name="<%= user.name %>" data-lastname="<%= user.lastname %>">Historia wizyt</button>
			<button id="docshow">Umów wizytę</button>
		</div>
		
		<div id="myvisits" style="margin-top: 30px;">
			<table id="uservisitstable">

			</table>
		</div>

		<div id="doclist" style="margin-top: 30px;">
			<table id="doctable">
			</table>
		</div>

		<div id="uservisitaddform">

			<form action="/api/visitadd" method="post" id="uservisitform">

				<h2> Wizyta </h2>
				<div style="margin-bottom:20px;">
					<label>Imię lekarza</label>
					<input type="text" name="name" readonly>
				</div>
				<div style="margin-bottom:20px;">
					<label>Nazwisko lekarza</label>
					<input type="text" name="lastname" readonly>
				</div>
				<div id="visitdate" style="margin-top: 20px;">
					Date: <input type="hidden" id="date">
					<input type="text" id="currentdate" name="date" value="" readonly>
				</div>
				<div id="visithours" style="margin-top: 20px;">
					<label>Wybierz godzinę</label>
					<br>
					<select name="visithour" id="visithour">
					</select>
				</div>
				<button type="submit" style="margin-top:20px;" disabled>Umów się</button>
			</form>
		</div>

	</div>

	<% include partials/footer %>

</body>
</html>