<!doctype html>
<html>
	<head>
		<% include partials/header %>   
		<script language="javascript" type="text/javascript" src="javascripts/patientpanel.js"></script>
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">

		<div id="userpanlemenu">
			<button id="visits" data-name="<%= user.name %>" data-lastname="<%= user.lastname %>">Historia wizyt</button>
			<button id="docshow">Umów wizytę</button>
		</div>
		
		<div id="myvisits" style="margin-top: 30px;">
			<table id="uservisitstable">

			</table>
		</div>

		<div id="doclist" style="margin-top: 30px;">
			<table id="doctable">
			</table>
		</div>

		<div id="uservisitaddform" style="margin-top:20px;">

			<form action="/api/visitadd" method="post" id="uservisitform">
				<div id="visitdate" style="margin-top: 20px;">
					<p>Date: <input type="text" id="date"></p>
				</div>
				<div id="visithours" style="margin-top: 20px;">
				</div>
			</form>
		</div>

	</div>

	<% include partials/footer %>

</body>
</html>